@import './home/homePage.css';
@import './header/header.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffa541;
  --secondary-color: #152a36;
  --height-toolbar: 5rem;
  --purple: #8884d8;
  --pink-dark: #d9829b;
  --sea-blue: #3dc1d3;
  --brown: #ffdf46;
  --crimson: #d33d58;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: currentColor;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #b721ff;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@font-face {
  font-family: 'inter';
  src: url('../../font/Burtons.otf');
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/lato/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../../font/lato/lato-v23-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../../font/lato/lato-v23-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../font/lato/lato-v23-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../../font/lato/lato-v23-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../font/lato/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../../font/merriweather/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../../font/merriweather/merriweather-v30-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../../font/merriweather/merriweather-v30-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../../font/merriweather/merriweather-v30-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../../font/merriweather/merriweather-v30-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../../font/merriweather/merriweather-v30-latin-regular.svg#Merriweather')
      format('svg'); /* Legacy iOS */
}

.page-content {
  min-height: calc(100vh - 234px - var(--height-toolbar));
}
